[submodule "util"]
	path = util
	url = git@github.com:IL2HorusTeam/desktop-util.git
[submodule "server-emulator"]
	path = server-emulator
	url = git@github.com:IL2HorusTeam/desktop-server-emulator.git
[submodule "device-link"]
	path = device-link
	url = git@github.com:IL2HorusTeam/desktop-device-link.git
[submodule "logger"]
	path = logger
	url = git@github.com:IL2HorusTeam/desktop-logger.git
[submodule "heightmap-creator"]
	path = heightmap-creator
	url = git@github.com:IL2HorusTeam/desktop-heightmap-creator.git
